
<table>
  <% @aliases.each do |al| %> 
    <tr>
      <td>
        <h2> <%= al.alias.upcase %> </h2>
      </td>
      <td>
        <em> <%= al.explication %> </em> 
      </td>
    </tr>
  <% end %>
</table>
